<?xml version="1.0"?>
<launch>

  <node name="streaming_client_max" pkg="intrepid_streaming" type="max_client" output="screen"/>

  <node name="tcp_receiver_max" pkg="nimbro_topic_transport" type="tcp_receiver" output="screen">
    <param name="port" value="17003" />

    <!-- Remap topics so that sender & receiver do not clash if run on the
       same machine. This is not necessary in a typical setup :-)
    -->
    <remap from="/recv/my_first_topic" to="/my_first_topic" />
  </node>

</launch>
